@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* Resettings */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.2s;
}

/* Color */
:root {
	--almost-white: hsl(0, 0%, 98%);
	--medium-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);
}

/* General settings */
body {
	display: flex;
	flex-direction: column;
	font-family: 'Epilogue', sans-serif;
	background-color: var(--almost-white);
}

body * { font-size: 1.2vw; }

header {
	display: flex;
	padding: 2% 0;
}

header div {
	display: flex;
	align-items: center;
}

.logo-container {
	width: 10%;
	padding: 0 3%;
}

.logo-container img {
	width: 70%;
}

.navbar {
	flex: 1;
}

.dropdown {
	display: flex;
	flex-direction: column;
	width: 12%;
	position: relative;
}

.dropbtn-content {
	display: none;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 20px -5px var(--medium-gray);
	position: absolute;
	padding: 15%;
}

.dropbtn-content a { width: 100%; }

.dropbtn-content img { margin-right: 10%; }


#features-dropbtn-content {
	top: 150%;
	width: 100%;
	right: 10%;
}

#company-dropbtn-content {
	top: 150%;
	left: 10%;
}

#features-dropbtn, #company-dropbtn {
	background-image: url("images/icon-arrow-down.svg");
	background-repeat: no-repeat;
	background-position: right;
	background-origin: border-box;
}

header a {
	text-decoration: none;
	color: var(--medium-gray);
	padding: 0 1%;
}

header a:hover {
	color: var(--almost-black);
}

.log-options {
	padding-right: 2%;
	width: 12%;
	display: flex;
	justify-content: space-between;
}

.log-options a {
	padding: 5%;
}

.log-options a:last-child {
	border: 1px solid var(--medium-gray);
	border-radius: 10px;
}

.log-options a:last-child:hover {
	border-color: var(--almost-black);
}

header button {
	all: unset;
	color: var(--medium-gray);
	padding: 0 18%;
}

header button:hover {
	color: var(--almost-black);
	cursor: pointer;
}

.navbar > * {
	margin-right: 2%;
}

.main-area {
	width: 80%;
	align-self: center;
	display: flex;
	height: 80%;
	justify-content: space-between;
}

.intro {
	width: 60%;
}

.hero-container {
	width: 35%;
}

.hero-container img {
	width: 100%;
}

.intro h1 {
	font-size: 5rem;
	width: 80%;
	color: var(--almost-black);
	margin-top: 15%;
	margin-bottom: 5%;
}

.intro p {
	font-size: 1rem;
	width: 65%;
	color: var(--medium-gray);
}

.intro button {
	background-color: var(--almost-black);
	color: var(--almost-white);
	border: 1px solid var(--almost-black);
	border-radius: 10px;
	padding: 2% 5%;
	font-family: 'Epilogue';
	margin-top: 3%;
	margin-bottom: 10%;
	font-weight: bold;
}

.intro button:hover {
	background-color: var(--almost-white);
	color: var(--almost-black);
	cursor: pointer;
}

.clients {
	display: flex;
	justify-content: space-between;
	width: 75%;
}
